@import "variables";

#p-avatar{
  margin-left: 40%;
}
.grid{
  margin: auto;
  width: 100%;
}
//text
// span{
//     margin-top: 10%;
// }
//card content
.cad{
  margin: auto;
}


.header{
  margin-bottom: 10%;
  color: #7C83FD;
}
//button
#btn{
  background:#7C83FD;
  margin-left:auto;
  border: #7C83FD;
}
//a tag
.class{
  color:#7C83FD;
  margin-top: 5%;
  margin-bottom: 5%;
}
div.field1{
  padding: 0%;
}
.field2{
  padding-top: 5%;
  padding-bottom:8%;
}
form{
  width: 100%;
}

