@import "mixins.scss";
@import "variables.scss";

/**
 * Dashboard Header
 */
app-dashboard {
  color: $rc-dark-color;

  header {

  }

  main {
    height: 100%;
    background-color: $rc-tertiary-color;
  }
}

/**
 * Dashboard Main
 */
app-dashboard {
  background-color: #838383;
}

/**
 * Navigation menus
 */
// Top menu bar
.top-menu-bar {
  @include rc-box-shadow(0px, 2px, 24px, 0px, rgba(0, 0, 0, 0.32));

  padding: 24px 16px;
  color: white;
  border-radius: 0;
  border-width: 0;
  background: $rc-secondary-color;
  background: linear-gradient(140deg, $rc-secondary-color 0%, $rc-primary-color 60%);

  button {
    border-radius: 4px;
    background-color: white;
    color: $rc-primary-color;
    margin-right: 4px;
    margin-left: 4px;
    padding-left: 1.5em;
    padding-right: 1.5em;

    :hover {
      background-color: $rc-primary-color;
      color: white;
    }
  }
}

// Side menu bar
.side-menu-bar {
  .p-panelmenu-panel {
    margin: auto auto 32px;
    padding-left: 1em;
    padding-right: 1em;

    .p-highlight {
      .p-panelmenu-header-link {
        background-color: $rc-primary-color !important;
        border-width: 0 !important;

        span {
          color: white;
        }
      }
    }

    .p-panelmenu-header-link {
      @include rc-box-shadow(0px, 0px, 24px, 0px, rgba(123, 130, 251, 0.16));

      border-width: 0;
      background-color: $rc-tertiary-color;

      span {
        color: $rc-dark-color;
      }

    }
  }
}

.rc-home {
  .home-card {
    padding: 1em;

    .p-card-body, .p-card-content {
      padding: 0;
      text-align: center;
    }
  }

  .home-stats-card {
    background-color: $rc-primary-color;
    color: white;

    a {
      color: white;
    }

    .home-stats-value {
      font-size: 4rem;
    }
  }

  .home-extras-card {
    @include rc-box-shadow(0, 2px, 16px, 0px, $rc-tertiary-color);

    .home-recent-actions-body {
      padding: 2em;
      font-size: 0.9rem;
    }
  }
}

/********************************************************************************************/
// Buttons
.rc-button {
  @include rc-box-shadow(0px, 2px, 24px, 0px, rgba(0, 0, 0, 0.32));

  border-radius: 4px;
  padding: 0.5em .8em;
  margin: 0.5em;
}

.action-button {
  @include rc-box-shadow(0px, 2px, 24px, 0px, rgba(0, 0, 0, 0.32));

  border-radius: 50%;
  border-style: none;
  border-width: 0;

  i {
    color: white;
  }
}

.rc-button-primary {
  background-color: $rc-primary-color;
  border-color: $rc-primary-color;
}

/********************************************************************************************/


/********************************************************************************************/
.full-width {
  width: 100%;
}


.data-container {
  @include rc-box-shadow(0px, 2px, 24px, 0px, rgba(0, 0, 0, 0.24));

  padding: 8px 16px;
  background-color: white;
  border-radius: 4px;

  table {
    margin: 24px auto;
    //font-size: px;
  }


}

/********************************************************************************************/
