.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  width: 100%;
}

.dashbody-container {
  position: fixed;
  height: 100vh;
  align-self: end;
  top: 0;
  background-color: #d5d5d5;
}

.side-menu-container {
  align-self: start;
  background-color: white;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1;
}

app-top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

footer {
  background-color: #7a81f9;
  color: white;
  padding: 0.8em 1.2em;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
