.dashboard-container {
  height: 100%;
}

.side-menu-container {
  background-color: white;

}

app-top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

footer {
  background-color: #7a81f9;
  color: white;
  padding: 0.8em 1.2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
