<div class="p-3">
  <form class="" [formGroup]="studentForm">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" pInputText type="text" [value]="student.name" formControlName="name">
    </div>
    <div class="form-group">
      <label>Registration Number</label>
      <input class="form-control" pInputText type="text" [value]="student.registration_number" formControlName="regNum">
    </div>
    <div class="form-group">
      <label>Gender</label>
      <div class="form-check" *ngFor="let gender of genders">
        <input formControlName="gender" class="form-check-input p-radiobutton" name="gender"
          [id]="gender" [value]="gender.charAt(0)" type="radio">
        &nbsp;
        <label class="form-check-label" [for]="gender">{{gender | titlecase}}</label>
      </div>
    </div>
    <div class="form-group">
      <label>Date of Birth</label>
      <div class="form-row">
        <div class="col-md-6">
          <input class="form-control" type="date" formControlName="dob">
        </div>
        <div class="col-md-6">
          <input class="form-control" type="text" [value]="student.date_of_birth + ' OLD'" [disabled]="true">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Place of birth</label>
      <input class="form-control" pInputText type="text" [value]="student.place_of_birth" formControlName="pob">
    </div>
    <div class="form-group">
      <span class="p-2">
        <button
          (click)="saveStudent()"
          type="button" class="btn" pButton label="Save" icon="pi pi-check" [disabled]="!studentForm.valid"></button>
      </span>

    </div>
  </form>
</div>

<div>{{student.date_of_birth}}</div>
