<div class="container">
  <div class="py-5">
    <div class="d-flex">
      <span class="h3">Save Student</span>
      <span class="spacer"></span>
      <span class="">
        <button (click)="closeModal()" pButton class="p-button-rounded p-button-danger p-button-text" icon="pi pi-times"></button>
      </span>
    </div>
    <div class="p-3">
      <form class="" [formGroup]="studentForm">
        <div class="form-group">
          <label class="form-label">Name</label>
          <input class="form-control" pInputText type="text" [value]="student.name" formControlName="name">
        </div>
        <div class="form-group">
          <label class="form-label">Registration Number</label>
          <input class="form-control" pInputText type="text" [value]="student.registration_number" formControlName="regNum">
        </div>
        <div class="form-group">
          <label class="form-label">Gender</label>
          <div class="form-check" *ngFor="let gender of genders">
            <input [formControlName]="'gender'" class="form-check-input p-radiobutton" name="gender"
                   [id]="gender" [value]="gender.charAt(0)" type="radio">&nbsp;
            <label class="form-check-label" [for]="gender">{{gender | titlecase}}</label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label class="form-label">Date of Birth</label>
            <input class="form-control" pInputText type="date" formControlName="dob" [disabled]="true">
          </div>
          <div class="col-md-6">
            <label class="form-label">Place of birth</label>
            <input class="form-control" pInputText type="text" [value]="student.place_of_birth" formControlName="pob">
          </div>
        </div>
        <div class="form-group">
          <span class="py-2">
            <button (click)="saveStudent()" type="button" class="btn full-width" pButton label="Save" icon="pi pi-check" [disabled]="!studentForm.valid"></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
