<div class="rc-subjects">
  <div class="py-2 d-flex">
    <span class="h3">Settings</span>
    <span class="spacer"></span>
    <span class="px-2">
      <button (click)="loadDefaultDataAction()" [disabled]="true" label="Load Default Data" pButton></button>
    </span>
  </div>

  <div class="py-4">
    <div *ngIf="!schoolSettingsValid" class="text-danger fst-italic">
      School settings have not been added
    </div>
    <div class="container-fluid">
      <form (submit)="saveSettingsAction()" [formGroup]="settingsForm">
        <div class="row pb-3">
          <div class="col-12 py-2">
            <label class="form-label">School Name</label>
            <input [formControlName]="'schoolName'" [value]="schoolSettings.school_name" class="form-control">
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-6 py-2">
            <label class="form-label">Applications Open</label>
            <div class="form-check form-switch">
              <input [formControlName]="'applicationsOpen'" class="form-check-input" type="checkbox">
              <label class="form-check-label">{{settingsForm.get('applicationsOpen')?.value ? 'Yes' : 'No'}}</label>
            </div>
          </div>
          <div class="col-md-6 py-2">
            <label class="form-label" for="currYear">Current Academic Year</label>
            <select [formControlName]="'year'" class="form-select" id="currYear">
              <option *ngFor="let year of academicYears" [selected]="year.id == (schoolSettings ? schoolSettings.curr_year_id : -1)"
                      [value]="year.id">
                {{year.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-6 py-2">
            <label class="form-label">Current Term</label>
            <input [value]="schoolSettings ? (schoolSettings.curr_term ? schoolSettings.curr_term : 'None') : ''"
                   class="form-control"
                   disabled>
          </div>
          <div class="col-md-6 py-2">
            <label class="form-label" for="currSeq">Current Sequence</label>
            <select [formControlName]="'sequence'" class="form-select" id="currSeq">
              <option *ngFor="let seq of sequences" [selected]="seq.id == ( schoolSettings ? schoolSettings.curr_seq_id : -1)"
                      [value]="seq.id">
                {{seq.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-6 py-2">
            <label class="form-label">Min Grade Score</label>
            <input [formControlName]="'minGrade'" [value]="schoolSettings ? schoolSettings.min_grade: 0" class="form-control"
                   type="number">
          </div>
          <div class="col-md-6 py-2">
            <label class="form-label">Max Grade Score</label>
            <input [formControlName]="'maxGrade'" [value]="schoolSettings ? schoolSettings.max_grade: 0" class="form-control"
                   type="number">
          </div>
        </div>
        <button [disabled]="!settingsForm.valid" class="btn" pButton type="submit">Save</button>
      </form>
    </div>
  </div>
  <div class="py-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 my-2">
          <div class="card">
            <div class="card-header">Academic Years</div>
            <div class="card-body">
              <div *ngFor="let year of academicYears" class="my-2">
                <div class="d-flex align-middle form-group">
                  <input #academicYearUpdateInput [disabled]="true" [value]="year.name" class="form-control">&nbsp;
                  <button (click)="editATSAction($event, 0, year, academicYearUpdateInput)" class="btn btn-primary">
                    Edit
                  </button>&nbsp;
                  <button (click)="deleteATSAction(0, year)" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <div class="mr-auto">
                  <input #yearAddInput [hidden]="true" class="form-control" placeholder="20XX/20XY">&nbsp;
                </div>
                <div class="ml-auto">
                  <button (click)="addATSAction($event,0,yearAddInput,seqTermAddInput)" class="btn btn-primary">Add
                  </button>&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-2">
          <div class="card h-100">
            <div class="card-header">Terms</div>
            <div class="card-body">
              <div *ngFor="let term of terms" class="my-2">
                <div class="d-flex align-middle form-group my-3">
                  <input #termUpdateInput [disabled]="true" [value]="term.name" class="form-control">&nbsp;
                  <button (click)="editATSAction($event, 1, term, termUpdateInput)" class="btn btn-primary">Edit
                  </button>&nbsp;
                  <button (click)="deleteATSAction(1, term)" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <div class="mr-auto">
                  <input #termAddInput [hidden]="true" class="form-control">&nbsp;
                </div>
                <div class="ml-auto">
                  <button (click)="addATSAction($event,1,termAddInput,seqTermAddInput)" class="btn btn-primary">Add
                  </button>&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-2">
          <div class="card h-100">
            <div class="card-header">Sequences</div>
            <div class="card-body">
              <div *ngFor="let seq of sequences" class="my-2">
                <label class="form-label">{{getTermBySequenceId(seq.id).name}}</label>
                <div class="d-flex align-middle form-group">
                  <input #seqUpdateInput [disabled]="true" [value]="seq.name" class="form-control">&nbsp;
                  <button (click)="editATSAction($event, 2, seq, seqUpdateInput)" class="btn btn-primary">Edit</button>&nbsp;
                  <button (click)="deleteATSAction(2, seq)" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <div class="mr-auto">
                  <input #seqAddInput [hidden]="true" class="form-control">&nbsp;
                  <select #seqTermAddInput [hidden]="seqAddInput.hidden" class="form-select">
                    <option *ngFor="let t of terms" [value]="t.id">{{t.name}}</option>
                  </select>
                </div>
                <div class="ml-auto">
                  <button (click)="addATSAction($event, 2, seqAddInput, seqTermAddInput)" class="btn btn-primary">Add
                  </button>&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
