<div class="container">
  <div class="py-5">
    <div class="d-flex">
      <span class="h3">Save Class</span>
      <span class="spacer"></span>
      <span class="">
        <button (click)="closeModal()" class="p-button-rounded p-button-danger p-button-text" icon="pi pi-times"
                pButton></button>
      </span>
    </div>
    <div class="p-3">
      <form [formGroup]="classForm" class="">
        <div class="form-group">
          <label class="form-label">Name</label>
          <input [formControlName]="'name'" [value]="classLevel.name" class="form-control" pInputText>
        </div>
        <div class="form-group my-2">
          <form *ngFor="let classLevelSub of classLevelSubs">
            <div class="row py-2">
              <div class="col-lg-8">
                <input #classSubInput [value]="classLevelSub.name" class="form-control" pInputText>
              </div>
              <div class="col-lg-4">
                <button (click)="saveClassLevelSub(classSubInput, classLevelSub)"
                        [disabled]="classSubInput.value.length <= 0" class="btn" label="Save" pButton
                        type="button"></button>
                &nbsp;
                <button (click)="deleteClassLevelSub(classLevelSub)" class="btn p-button-danger" label="Delete" pButton
                        type="button"></button>
              </div>
            </div>
          </form>
          <button (click)="addClassLevelSubAction()" icon="pi pi-plus-circle" pButton></button>
        </div>
        <div class="form-group">
          <span class="py-2">
            <button (click)="saveClassLevel()" [disabled]="!classForm.valid" class="btn" icon="pi pi-check"
                    label="Save Class"
                    pButton type="button"></button>
          </span>
        </div>
        <div class="form-text text-center">
          <span class="font-bold text-primary">This class will be saved to <u>{{section.name}}</u></span>
        </div>
      </form>
    </div>
  </div>
</div>
