<div class="container">
  <div class="py-2">
    <div class="">
      <span class="h3">Save Subject</span>
    </div>
    <div class="p-3">
      <form [formGroup]="subjectForm" class="">
        <div class="form-group">
          <label>Name</label>
          <input [value]="subject.name" class="form-control" formControlName="name" pInputText type="text">
        </div>
        <div class="form-group">
          <label>Code</label>
          <input [value]="subject.code" class="form-control" formControlName="code" pInputText type="text">
        </div>
        <div class="form-group">
          <label>Coefficient</label>
          <input [value]="subject.coefficient" class="form-control" formControlName="coeff" pInputText type="number">
        </div>
        <div class="form-group">
          <label>Section</label>
          <select class="form-control" formControlName="sectionId">
            <option *ngFor="let section of sections" [ngValue]="section"
                    class=""
                    selected="{{subject.section_id == section.id}}">
              {{section.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <span class="p-2">
            <button
              (click)="saveSubject()"
              [disabled]="!subjectForm.valid" class="btn" icon="pi pi-check" label="Save" pButton
              type="button"></button>
          </span>
          <span class="p-2">
            <button
              (click)="cancelSaveSubject()"
              class="btn p-button-secondary" icon="pi pi-times" label="Close" pButton
              type="button"></button>
          </span>
        </div>
      </form>
    </div>
  </div>

</div>
