<div class="rc-subjects">
  <div class="py-2 d-flex">
    <span class="h3">Subjects</span>
    <span class="spacer"></span>
    <span class="px-2">
      <button (click)="saveSubjectAction()" class="p-button-rounded" icon="pi pi-plus-circle" pButton
              type="button"></button>
    </span>
    <span class="px-2">
      <button (click)="loadSubjects()"
              class="p-button-rounded"
              icon="pi pi-refresh" pButton type="button"></button>
    </span>
  </div>

  <div class="py-4">
    <div class="subject-data-container data-container">
      <table class="table table-striped">
        <thead class="table-info">
        <tr>
          <th>SN</th>
          <th>Subject Name</th>
          <th>Code</th>
          <th>Coeff</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of subjects; let i = index">
          <td>{{i + 1}}</td>
          <td>{{subject.name}}</td>
          <td>{{subject.code}}</td>
          <td>{{subject.coefficient}}</td>
          <td>
              <span class="px-2">
                <a (click)="saveSubjectAction(subject)" class="btn btn-primary rc-button-primary action-button"
                   icon="pi pi-pencil" pButton pRipple title="Edit" type="button"></a>
              </span>
            <span class="px-2">
                <a (click)="deleteSubjectAction(subject)"
                   class="p-button-sm p-button-rounded p-button-danger rc-action-button" icon="pi pi-trash" pButton
                   pRipple title="Delete"></a>
              </span>
          </td>
        </tr>
        <tr *ngIf="subjects.length < 1">
          <td colspan="5">
            <span class="text-center">No data found</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
