<div class="rc-home">
  <app-rc-body-intro
    [buttonIcon]="'pi pi-cog'"
    [buttonLabel]="'Settings'"
    [buttonLink]="'#'"
    [title]="'Home'">
  </app-rc-body-intro>

  <!-- Home Stats -->
  <div class="row py-4">
    <div *ngFor="let stat of homeStats" class="col-md-3 p-2">
      <p-card styleClass="home-card home-stats-card">
        <ng-template pTemplate="header">
          <div class="d-flex">
            <i class="{{stat.icon}}"></i>&nbsp;
            <span class="h6">{{stat.title}}</span>
            <span class="spacer"></span>
            <a routerLink="#"><span class="pi pi-arrow-right"></span></a>
          </div>
        </ng-template>
        <ng-template pTemplate="body">
          <span class="home-stats-value">{{homeStatsValueDisplay(stat.value)}}</span>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="row py-2">
    <!-- recent activities -->
    <div class="col-md-6 p-2">
      <p-card styleClass="home-card home-extras-card">
        <ng-template pTemplate="header">
          <span class="h5">Recent Activities</span>
        </ng-template>
        <ng-template pTemplate="body">
          <div class="p-2 home-recent-actions-body">
            <div *ngFor="let i of [1, 2, 3, 4, 5]" class="p-1">
              <div class="d-flex align-items-center">
                <span class="pi pi-check"></span>&nbsp;
                <span class="">Action #1 done by @user</span>
                <span class="spacer"></span>
                <span class="pi pi-clock"></span>&nbsp;
                <span class="">12/05/22 | 12:50</span>
              </div>
              <p-divider [style]="{'margin-top':'0.5em', 'margin-bottom':'0.5em'}"></p-divider>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- account information -->
    <div class="col-md-6 p-2">
      <p-card styleClass="home-card">
        <ng-template pTemplate="header">
          <span class="h5">Account Information</span>
        </ng-template>
        <ng-template pTemplate="body">
          <div class="p-2 home-account-info-body">
            <!-- TODO setup this form -->
            <form>
              <div class="p-fluid">
                <div class="p-inputgroup p-1">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                  </span>
                  <input pInputText placeholder="Username" type="text" value="{{user.name}}"/>
                </div>
                <div class="p-inputgroup p-1">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-envelope"></i>
                  </span>
                  <input pInputText placeholder="Email" type="text" value="{{user.email}}"/>
                </div>
                <div class="p-inputgroup p-1">
                  <span class="p-inputgroup-addon">
                    <i class="pi pi-key"></i>
                  </span>
                  <input pInputText placeholder="Password" readonly type="text" value="{{user.role}}"/>
                </div>
                <div class="p-inputgroup p-1">
                  <button (click)="updateUser()" class="rc-button" label="Save" pButton style="width: 50%; margin: auto"
                          type="button"></button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>


</div>
