<div class="home-container">
  <div class="grid">
    <div class="col-md-6 flex align-items-center justify-content-center">
      <span class="text-center welcome-text">
        <h1 class="login-text">Welcome To School Report Card Management System</h1>
        <img [alt]="imageAlt" [src]="imageSrc" width="80"/>
      </span>
    </div>
    <div class="cad col-md-6">
      <form [formGroup]="loginForm" class="col-12 p-6 font-bold mb-1">
        <div class="shadow-4 p-6 border-round-sm bg-white">
          <p-avatar id="p-avatar" image="assets/images/Avata.png" shape="circle" size="xlarge"
                    styleClass="mr-2"></p-avatar>
          <h1 class="header" style="text-align: center">Welcome Admin</h1>
          <span class="p-input-icon-right w-full py-2">
              <i class="pi pi-envelope"></i>
              <input [formControlName]="'username'" class="w-full p-inputtext" pInputText placeholder="john@doe.com"
                     type="text">
          </span>
          <span class="p-input-icon-right w-full py-2">
              <i class="pi pi-eye"></i>
              <input [formControlName]="'password'" class="w-full p-inputtext" pInputText placeholder="Password"
                     type="password">
          </span>
          <div class="class">
            <a id="a-tag">Forget Password?</a>
          </div>
          <div class="p-inputgroup p-1">
            <button class="p-button w-full" label="Login" pButton type="button"></button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

