/*
If you touch this, I will kill you...personally - Vince
 */
.dash-body {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 82%;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow-y: scroll;
}

.dash-body-content {
  padding-left: 24px;
  padding-right: 24px;
}

