<div class="rc-subjects">
  <div class="py-2 d-flex">
    <span class="h3">Students</span>
    <span class="spacer"></span>
    <span class="px-2">
      <button (click)="saveStudentAction()" pButton icon="pi pi-plus-circle" class="p-button-rounded"></button>
    </span>
    <span class="px-2">
      <button (click)="loadStudents()" type="button" pButton icon="pi pi-refresh" class="p-button-rounded"></button>
    </span>
  </div>

  <div class="py-4">
    <div class="subject-data-container data-container">
      <table class="table table-striped">
        <thead class="table-info">
        <tr>
          <th>SN</th>
          <th>RegNo</th>
          <th>Student Name</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; let i = index">
          <td>{{i + 1}}</td>
          <td>{{student.registration_number}}</td>
          <td>{{student.name}}</td>
          <td>{{student.gender}}</td>
          <td>
              <span class="px-2">
                <a title="Edit" class="btn btn-primary rc-button-primary action-button" (click)="saveStudentAction(student)" type="button">
                  <i class="bi bi-pencil"></i>
                </a>
              </span>
            <span class="px-2">
                <a title="Delete" class="btn btn-danger action-button" (click)="deleteStudentAction(student)">
                  <i class="bi bi-trash"></i>
                </a>
              </span>
          </td>
        </tr>
        <tr *ngIf="students.length < 1">
          <td colspan="5">
            <span class="text-center">No data found</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
