<div class="rc-classes">
  <div class="py-2 d-flex">
    <span class="h3">Classes</span>
    <span class="spacer"></span>
    <span class="px-2">
      <button (click)="saveClassAction()" class="p-button-rounded" icon="pi pi-plus-circle" pButton></button>
    </span>
    <span class="px-2">
      <button (click)="loadClasses()" class="p-button-rounded" icon="pi pi-refresh" pButton type="button"></button>
    </span>
  </div>

  <div class="py-2">
    <div class="container">
      <div class="row py-2">
        <label class="h6" for="section">Select School Section</label>
        <div class="form-group row">
          <div class="col-8">
            <select (ngModelChange)="loadClasses()" [(ngModel)]="sectionModelId" class="form-select my-auto"
                    id="section">
              <!-- this does not actually fire the event -->
              <option [selected]="true" disabled>Select section</option> <!-- TODO make this disabled -->
              <option *ngFor="let section of sections" [value]="section.id">{{section.name}}</option>
            </select>
            {{sectionModelId}}
          </div>
          <div class="col-4">
            <button (click)="loadClasses()" class="" pButton>Load Classes</button>
          </div>
        </div>
      </div>
      <div *ngIf="classes.length == 0" class="row py-2">
        <span class="text-center">No classes for this section</span>
      </div>
      <div class="row py-2">
        <div *ngFor="let c of classes" class="col-lg-6 col-sm-12">
          <div class="card my-2">
            <div class="card-header">
              {{c.classLevel.name}}
            </div>
            <div class="card-body">
              <div class="row">
                <div *ngFor="let cs of c.classLevelSubs" class="col-3">
                  <div class="card">
                    <div class="card-header">
                      {{cs.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-end">
                <button (click)="saveClassAction(c.classLevel)" class="p-button-raised p-button-info"
                        icon="pi pi-pencil"
                        pButton></button>
                &nbsp;
                <button (click)="deleteClassAction(c.classLevel)" class="p-button-raised p-button-danger"
                        icon="pi pi-trash"
                        pButton></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
