/* You can add global styles to this file, and also import other style files */
@import "assets/scss/dashboard";
@import "assets/scss/auth";
@import "assets/scss/variables.scss";

.spacer {
  flex: 1 0 auto;
}

html, body, main {
}

html, body, body .p-component {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 12px !important;
}

/*
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  background: $rc-primary-color;
  border-radius: 25px;
}


body {
  background-color: #7164F2;
}

 */
