/* You can add global styles to this file, and also import other style files */
@import "assets/scss/dashboard";
// light: 'node_modules/primeng/resources/themes/lara-light-indigo/theme.css';
// dark: 'node_modules/primeng/resources/themes/lara-dark-indigo/theme.css';


.spacer {
  flex: 1 0 auto;
}

html, body, main {
  height: 100%;
}

body {
  background-color: #e2e2e2;
}



